<div class="input-data">
    <form id="resultsForm">
      <div class="hall">
        <h3>Enter Halticket No:</h3>
        <input id="rollNoInput" class="input" name="text" type="text" />
      </div>
      <button onclick="fetchResults()" id="button" class="btn">Results</button>
    </form>
  </div>