<!DOCTYPE html>
<html lang="en">
  <%- include('components/head'); %>
  <body>
    <div class="container">
      <%- include('components/navbar'); %>
      <%- include('components/form'); %>
      <div id="resultContainer"></div>
      <%- include('components/footer'); %>
    </div>
    <script src="2-1/script.js"></script>
  </body>
</html>
